body {
  background-color: #0c0d15;
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.406);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  opacity: 0;
  transition: 0.1s opacity ease;
}

.loadScreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100000000;
  background-color: #181c2f;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.loadScreen img {
  zoom: 0.8;
}

.navsearch {
  display: flex;
  max-height: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  margin-bottom: 100px;
  padding-block: 30px;
  padding-inline: 20px;
  background-color: #181c2f;
  border-end-start-radius: 1.5vh;
  border-end-end-radius: 1.5vh;
}
.navsearch a {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.navsearch a span {
  color: #598ceb;
}
.navsearch .searchInput {
  display: flex;
  gap: 0px;
  align-self: center;
  width: 30%;
}
.navsearch .searchInput input {
  width: 80%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid transparent;
}
.navsearch .searchInput button {
  background-color: transparent;
  color: white;
  padding: 5px 15px;
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.3s;
  border-left: 1px solid transparent;
}
.navsearch .divimg {
  max-height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin-right: 0;
}

#userneki {
  position: absolute;
  left: 39%;
  top: 52px;
  background-color: #181c2f;
  margin: 4px, 4px;
  width: 500px;
  height: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  border: 1px solid #424868;
  border-bottom-left-radius: 15px;
  z-index: 99;
  max-height: 0px;
  transition: all 0.3s;
  border-top: #181c2f;
  padding-inline: 20px;
  display: grid;
  gap: 25px;
  color: white;
}
#userneki .singleitemsearchh {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#userneki .singleitemsearchh img {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
#userneki .singleitemsearchh div {
  display: grid;
  align-items: center;
}
#userneki .singleitemsearchh div h4 {
  font-size: 20px;
  margin: 0;
}
#userneki .singleitemsearchh div p {
  color: rgb(172, 172, 172);
  font-size: 14px;
  margin: 0;
}
#userneki .singleitemsearchh i {
  margin-left: auto;
  cursor: pointer;
}
#userneki .singleitemsearchh:first-child {
  margin-top: 20px;
}

.conversation {
  /* background-color: #25293f; */
  background-color: #181c2f;
  position: fixed;
  width: 850px;
  height: 500px;
  padding: 25px;
  transform: scaleY(0);
  /* transform-origin: bottom; */
  z-index: 1000000;
  inset: 0;
  margin: auto;
  transition: transform 0.2s ease;
  border-radius: 10px;
  display: flex;
}
.conversation .textUsers {
  margin-right: 10px;
  padding-right: 10px;
  display: grid;
  gap: 5px;
  align-items: center;
  justify-items: start;
}
.conversation .textUsers .msgReciver {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
.conversation .textUsers .msgReciver img {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.conversation .textUsers .msgReciver h4 {
  font-size: 20px;
  margin: 0;
}
.conversation .closeConv {
  color: white;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid #6b6a6a;
  border-radius: 100%;
  font-size: 10px;
  position: absolute;
  top: -11px;
  right: -10px;
  background-color: #181c2f;
}
.conversation .closeConv:hover {
  color: red;
}
.conversation .textBox {
  width: 100%;
  display: grid;
  gap: 20px;
  align-content: space-between;
  border-left: 1px solid white;
}
.conversation .messages {
  border-radius: 2px;
  margin-top: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-inline: 10px;
  width: 100%;
  height: 100%;
}
.conversation .messages .messages .single-msg-R,
.conversation .messages .messages .single-msg-S {
  margin-top: 10px;
}
.conversation .messages .single-msg-S {
  padding: 10px 5px;
  margin-left: auto;
  text-align: right;
  /*  */
  padding: 10px 5px;
  margin-left: auto;
  text-align: right;
  display: flex;
  border-radius: 3px;
  gap: 10px;
  align-items: center;
  color: white;
  justify-content: flex-end;
}
.conversation .messages .single-msg-R {
  padding: 10px 5px;
  top: 15px;
  left: 15px;
  /*  */
  padding: 10px 5px;
  margin-left: auto;
  text-align: right;
  display: flex;
  border-radius: 3px;
  gap: 10px;
  align-items: center;
  color: white;
}
.conversation .messages .msgText {
  text-align: center;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  max-width: 50%;
  word-wrap: break-word;
}
.conversation .messages .msgImg {
  width: 40px;
  border-radius: 50%;
}
.conversation .controls {
  padding-block: 10px;
  padding-inline: 5px;
  border-radius: 5px;
  height: 50px;
  display: flex;
  gap: 20px;
  padding: 3px 20px;
  border-top: 1px solid gray;
  padding-top: 12px;
}
.conversation .controls button {
  padding: 5px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  background-color: transparent;
  margin-left: -22px;
  padding: 5px 17px;
  border-left: 1px solid #181c2f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.conversation .controls input {
  transition: all 0.2s;
  padding: 5px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  background-color: transparent;
  width: 100%;
  border-right: 1px solid #181c2f;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 13px;
  outline: none;
}

.left-side {
  background-color: #181c2f;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border: 1px solid #ababab;
}
.left-side h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.left-side .top5Users {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.left-side .top5Users img {
  width: 18%;
  margin: 10px 0px;
  margin-right: 17px;
  border-radius: 100%;
  border: 1px solid gray;
}
.left-side .top5Users #userTop {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}
.left-side .top5Users #goldstar {
  margin-left: auto;
  color: white !important;
  position: relative;
}

.right-side {
  padding-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #ababab;
  display: grid;
  gap: 20px;
  padding: 30px;
}
.right-side form {
  display: flex;
  height: 100px;
  width: 100%;
}
.right-side form #postContent {
  outline: none;
  border: 2px solid #ababab;
  background-color: #181c2f;
  color: white;
  opacity: 0.9;
  padding-left: 15px;
  width: 100%;
}
.right-side form button {
  background-color: #181c2f;
  padding-inline: 30px;
  opacity: 0.9;
  color: white;
  transition: 0.3s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid #ababab;
}
.right-side .single-post {
  background-color: #181c2f;
  padding: 15px;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
  position: relative;
}
.right-side .single-post .post-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #6b6a6a;
  margin-bottom: 10px;
  font-size: 22px;
  word-break: break-all;
}
.right-side .single-post .post-actions {
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-bottom: -17px;
}
.right-side .single-post .post-actions div {
  display: flex;
  height: 30px;
  align-items: center;
  gap: -10px;
}
.right-side .single-post .post-actions p {
  width: 60%;
  font-weight: bold;
}
.right-side .single-post .post-actions p #posttimg {
  border-radius: 100%;
  margin-right: 4px;
  width: 28px;
}
.right-side .single-post .post-actions .likedPost {
  color: red !important;
}
.right-side .single-post .post-actions .like-btn {
  /* background-image: url(img/like.png); */
  background-color: #181c2f;
  background-repeat: no-repeat;
  background-position: 10px;
  border: 0;
  font-weight: bold;
  transition: 0.3s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 2px;
  color: #787878;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.right-side .single-post .post-actions .like-btn span {
  margin-right: 4px;
}
.right-side .single-post .post-actions .like-btn span:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  margin-right: 5px;
  content: "\f004";
  font-size: 20px;
}
.right-side .single-post .post-actions .like-btn .numCount {
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: end;
  align-items: center;
}
.right-side .single-post .post-actions .like-btn .numCount .num1Count {
  transition: transform 0.2s;
}
.right-side .single-post .post-actions .like-btn .numCount .num2Count {
  position: absolute;
  transform: translateY(-50px);
  transition: transform 0.2s;
}
.right-side .single-post .post-actions .comment-btn {
  /* background-image: url(img/comment.png); */
  background-repeat: no-repeat;
  background-position: 10px;
  border: 0;
  font-weight: bold;
  background-color: #181c2f;
  transition: 0.3s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #787878;
  margin-right: 10px;
}
.right-side .single-post .post-actions .comment-btn #cspan {
  display: inline-flex;
  align-items: center;
}
.right-side .single-post .post-actions .comment-btn #cspan:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 200;
  margin-right: 5px;
  content: "\f075";
  font-size: 20px;
}
.right-side .single-post .post-actions .remove-btn {
  color: white;
  padding: 5px 10px;
  transition: 0.3s;
  border: 1px solid #6b6a6a;
  border-radius: 100%;
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -9px;
  background-color: #181c2f;
}
.right-side .single-post .post-comments {
  display: block;
  max-height: 0px;
  transition: all 0.3s;
  overflow: hidden;
  overflow-y: auto;
}
.right-side .single-post .post-comments form {
  height: 40px;
  margin-top: 15px;
  display: flex;
}
.right-side .single-post .post-comments form input {
  width: 85%;
  padding: 17px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ededed;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.right-side .single-post .post-comments form button {
  width: 15%;
  border: 2px solid #ededed;
  color: white;
  font-weight: bold;
  background-color: transparent;
  transition: 0.3s;
  padding: 8px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.right-side .single-post .post-comments .single-comment {
  border: 1px solid #ededed;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
  word-break: break-all;
}
.right-side .single-post .post-comments .single-comment #usernamecom {
  background-color: #181c2f;
  color: #bbbbbb !important;
  position: absolute;
  top: -13px;
}
.right-side .loadMore {
  padding: 10px;
  border: 2px solid #ababab;
  color: white;
  background-color: #181c2f;
  transition: 0.3s;
  padding: 4px 10px;
  border-radius: 10px;
  margin-inline: auto;
  margin-block: 15px;
  position: absolute;
  right: 38%;
}
.right-side .loadMore:hover {
  background-color: #424868;
}

.custom-modal {
  display: none;
  background-color: #181c2f;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1000px 1000px;
  max-width: 650px;
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 20px;
  z-index: 1000;
  color: white;
  --top:107px;
}
.custom-modal input {
  padding: 5px;
  margin-block: 10px;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  width: 90%;
}
.custom-modal .input1:not(:-moz-placeholder-shown) ~ .label1 {
  top: 95px;
}
.custom-modal .input1:focus ~ .label1, .custom-modal .input1:not(:placeholder-shown) ~ .label1 {
  top: 95px;
}
.custom-modal .input2:not(:-moz-placeholder-shown) ~ .label2 {
  top: 153px;
}
.custom-modal .input2:focus ~ .label2, .custom-modal .input2:not(:placeholder-shown) ~ .label2 {
  top: 153px;
}
.custom-modal .input3:not(:-moz-placeholder-shown) ~ .label3 {
  top: 211px;
}
.custom-modal .input3:focus ~ .label3, .custom-modal .input3:not(:placeholder-shown) ~ .label3 {
  top: 211px;
}
.custom-modal .form__input:not(:-moz-placeholder-shown).form__input:not(:focus) ~ .form__label {
  font-size: 0.8rem;
  left: 60px;
  padding: 0 0.5rem;
  color: #fff;
  z-index: 100;
}
.custom-modal .form__input:focus ~ .form__label, .custom-modal .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  font-size: 0.8rem;
  left: 60px;
  padding: 0 0.5rem;
  color: #fff;
  z-index: 100;
}
.custom-modal .form__label {
  position: absolute;
  padding: 0;
  color: rgba(255, 255, 255, 0.5764705882);
  cursor: text;
  transition: 250ms cubic-bezier(0.79, 0, 0.16, 0.99);
  background-color: #181c2f;
  z-index: 90;
}
.custom-modal .label1 {
  left: 65px;
  top: 112px;
}
.custom-modal .label2 {
  left: 65px;
  top: 170px;
}
.custom-modal .label3 {
  left: 65px;
  top: 228px;
}
.custom-modal #closeModal {
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  /* font-weight: bold; */
  position: absolute;
  right: 2px;
  top: 14px;
  transition: 0.4s;
}
.custom-modal button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 25px;
  border-radius: 7px;
  transition: 0.3s;
}
.custom-modal #deleteProfile {
  border: 2px solid red;
  color: red;
  padding: 5px 15px;
  border-radius: 7px;
  transition: 0.3s;
}

.popup-prof {
  width: 300px;
  position: absolute;
  z-index: 99;
  background-color: #181c2f;
  right: 3.5%;
  top: 5.7%;
  border: 1px solid white;
  border-top: 1px solid #181c2f;
  padding: 10px;
  overflow-x: hidden;
  opacity: 1;
  transform: translateY(-450px);
  margin-bottom: 20px;
  border-radius: 1px !important;
  border-radius: 15px;
  transition: all 0.2s;
  opacity: 0;
}
.popup-prof .profile {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid hsl(0, 0%, 18.82%);
  margin-bottom: 20px;
}
.popup-prof #username {
  font-size: 20px;
  color: white;
}
.popup-prof #email {
  color: #6b6a6a;
  margin-top: -15px;
  margin-bottom: 20px;
}
.popup-prof button {
  color: white;
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid #424868;
  transition: 0.2s;
  border-radius: 5px;
}
.popup-prof #logout {
  padding-inline: 10px;
}

.openConv {
  position: fixed;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  background-color: #181c2f;
  color: white;
  border: 2px solid #598ceb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openConv i {
  font-size: 35px;
}

footer {
  display: none;
}/*# sourceMappingURL=style2.css.map */