//Dark Theme
$backgroundClr:#0c0d15;
//#181c2f
$navClr:#181c2f;
$logoP2:#598ceb;
$fontClr1:white;
$fontClr2:rgb(172, 172, 172);
$leftClr:#181c2f;
$commentClr:#181c2f;
$actionBtnClr:#181c2f;
$insertPostClr:#181c2f;
$borderInput:#ababab;
$borderInput2:#ededed;
$popupClr:#181c2f;
$loadMoreClr:#181c2f;
$loadBorder:#598ceb;
$goldstar:white;
$currentUser:#1e254d;

body{
    background-color: $backgroundClr;
    padding-bottom: 50px;
    z-index: 0;
}
::-webkit-scrollbar{
    width: 5px;
    }
::-webkit-scrollbar-track {        
    background: transparent;
}      
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.406);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    opacity: 0;
    transition: .1s  opacity ease;
}

.loadScreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000000;
    background-color: #181c2f;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    img{
        zoom:.8;
    }
}

.navsearch {
    display: flex;
    max-height: 40px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    margin-bottom: 100px;
    padding-block: 30px;
    padding-inline: 20px;
    background-color: $navClr;
    border-end-start-radius: 1.5vh;
    border-end-end-radius: 1.5vh;
    .navimg{
        cursor: pointer;
    }
    a{
        font-family: 'Dancing Script', cursive;
        text-decoration: none;
        color: white;
        font-weight:bolder;
        font-size: 30px;
        span{
            color: $logoP2;
        }
    }

    .searchInput{
        display: flex;
        gap:0px;
        align-self: center;
        width: 30%;
        input {
            width: 80%;
            background-color: transparent;
            color: $fontClr1;
            border: 1px solid $fontClr1;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            outline: none;
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-right: 1px solid transparent;
        }
        button{
            //background-color: #181c2f;
            background-color: transparent;
            color: $fontClr1;
            padding: 5px 15px;
            border: 1px solid $fontClr1;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: 0.3s;
            border-left: 1px solid transparent;
            &:hover{
                color: gray;
            }
        }
    }

    .divimg{
        max-height: 40px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        margin-right: 0;
    }
}
#userneki{
    position: absolute;
    left: 39.7%;
    top: 52px;
    background-color: #181c2f;
    margin: 4px, 4px;
    width: 440px;
    height: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    border: 1px solid #424868;
    border-bottom-left-radius: 15px;
    z-index: 99;
    max-height: 0px;
    transition: all .3s;
    border-top: #181c2f;
    padding-inline: 20px;
    color: white;
    .singleitemsearchh{
        display: flex;
        align-items: center;
        gap:10px;
        margin-top:25px;
        cursor: pointer;
        img{
            height: 40px;
            aspect-ratio: 1/1;
            border-radius: 100%;
        }
        div{
            display: grid;
            align-items: center;
            h4{
                font-size: 20px;
                margin:0;
            }
            p{
                color:$fontClr2;
                font-size: 14px;
                margin:0;
            }
        }
        i{
            margin-left: auto;
            cursor: pointer;
            font-size: 23px;
            transition: 0.2s;
            &:hover{
                color: gray;
            }
        }
        &:first-child{
            margin-top:20px;
        }
    }
}

img{
    aspect-ratio: 1/1;
}

.conversation{
    /* background-color: #25293f; */
    background-color: #181c2f;
    position: fixed;
    width: 850px;
    height: 500px;
    padding: 25px;
    transform: scaleY(0);
    /* transform-origin: bottom; */
    z-index: 1000000;
    inset: 0;
    margin: auto;
    transition: transform .2s ease;
    border-radius: 10px;
    display: flex;

    .textUsers{        
        margin-right: 10px;
        //padding-right: 30px;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 200px;
        &::-webkit-scrollbar-thumb{
            color: transparent;
            background-color: transparent;
        }
        .msgReciver{
            display: flex;
            gap:10px;
            justify-content: flex-start;
            align-items: center;
            color:$fontClr1;
            width: 100%;
            margin-bottom: 15px;
            padding:5px;
            cursor: pointer;
            border-radius: 5px;
            transition: background .2s ease;

            //user select
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            //-------------------//
            
            img{
                height: 40px;
                aspect-ratio: 1/1;
                border-radius: 100%;
            }
            h4{
                font-size: 20px;
                margin:0;
            }
            
        }
        .msgReciver[aria-current='true']{
            background-color: $currentUser;
        }
        
    }

    .closeConv {
        color: white;
        padding: 5px 10px;
        transition: 0.3s;
        border: 1px solid #6b6a6a;
        border-radius: 100%;
        font-size: 10px;
        position: absolute;
        top: -11px;
        right: -10px;
        background-color: #181c2f;
        &:hover{
            color: red;
        }
    }
    .textBox{
        width: 100%;
        display:grid;
        gap:20px;
        align-content: space-between;
        border-left: 1px solid white;
    }
    .messages {
        border-radius: 2px;
        margin-top: 14px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-inline: 10px;
        width: 100%;
        height: 100%;

        .messages .single-msg-R,
        .messages .single-msg-S{
            margin-top:10px;
        }

        .single-msg-S{
            padding: 10px 5px;
            margin-left:auto;
            text-align: right;
            padding: 10px 5px;
            margin-left:auto;
            text-align: right;
            display: flex;
            border-radius: 3px;
            gap:10px;
            align-items: center;
            color:white;
            justify-content: flex-end;
        }
        .single-msg-R{
            padding: 10px 5px;
            top:15px;
            left:15px;
            padding: 10px 5px;
            margin-left:auto;
            text-align: right;
            display: flex;
            border-radius: 3px;
            gap:10px;
            align-items: center;
            color:white;
        }
        .msgText{
            text-align: center;
            border-radius: 5px;
            padding-inline: 10px;
            padding-block: 5px;
            max-width: 50%;
            word-wrap: break-word;
        }
        .msgImg{
            width: 40px;
            border-radius: 50%;
        }

    }   
    .controls{
        padding-block: 10px;
        padding-inline: 5px;
        border-radius: 5px;
        height: 50px;
        display: flex;
        gap:20px;
        padding: 3px 20px;
        border-top: 1px solid gray;
        padding-top: 12px;

        button{
            padding: 5px;
            border:2px solid white;
            border-radius: 2px;
            color: white;
            font-weight: 500;	
            background-color: transparent;
            margin-left: -22px;
            padding: 5px 17px;
            border-left: 1px solid #181c2f;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        input{
            transition: all .2s;
            padding: 5px;
            border:2px solid white;
            border-radius: 2px;
            color: white;
            font-weight: 500;	
            background-color: transparent;
            width:100%;
            border-right: 1px solid #181c2f;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-left: 13px;
            outline: none;
        }
    }
    
}

.left-side{
    background-color: $leftClr;
    padding: 20px;
    border-radius: 10px;
    color:white;
    border:1px solid $borderInput;
    h4{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .top5Users{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:10px;
        img{
            width: 18%;
            margin: 10px 0px;
            margin-right: 17px;
            border-radius: 100%;
            border: 1px solid gray;
        }
        #userTop{
            font-weight: bold;
            font-size: 18px;
            display: inline-block;
            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 5px;
            
        }
        #brlajkova{
            
        }
        #goldstar{
            margin-left: auto;
            color: $goldstar !important;
            position: relative;
        }
    }
}

.right-side {
    padding-bottom: 30px;
    border-radius: 10px;
    border:1px solid $borderInput;
    display: grid;
    gap:20px;
    padding: 30px;

    form {
        display: flex;
        height: 100px;
        width: 100%;

        #postContent {
            outline: none;
            border: 2px solid $borderInput;
            background-color: $insertPostClr;
            color: white;
            opacity: 0.9;
            padding-left: 15px;
            width: 100%;     
            padding-top: 7px;       
        }
        button {
            background-color: $actionBtnClr;
            padding-inline: 30px;
            opacity: 0.9;
            color: white;
            transition: 0.3s;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            border: 2px solid $borderInput;
            
        }
    }

    .single-post {
        background-color: $commentClr;
        padding: 15px;
        margin-top: 15px;
        color: white;
        border-radius: 10px;
        position: relative;

        .post-content {
            padding-bottom: 10px;
            border-bottom: 1px solid #6b6a6a;
            margin-bottom: 10px;
            font-size: 22px;
            word-break: break-all;
        }
        .post-actions {
            display: flex;
            justify-content: space-between;
            color: grey;
            margin-bottom: -10px;
            div{
                display: flex;
                height: 30px;
                align-items: center;
                gap:-10px;
            }
            a {
                width: 60%;
                font-weight: bold;
                text-decoration: none;
                color:grey;
                #posttimg {
                    border-radius: 100%;
                    margin-right: 4px;
                    width: 28px;
                }
            }
            .likedPost {
                color: red !important;
            }
            .like-btn {
                /* background-image: url(img/like.png); */
                background-color: $actionBtnClr;
                background-repeat: no-repeat;
                background-position: 10px;
                border: 0;
                font-weight: bold;
                transition: 0.3s;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                margin-right: 2px;
                color: #787878;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                span {
                    margin-right: 4px;
                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 200;
                        margin-right: 5px;
                        content: "\f004";
                        font-size: 20px;
                    }
                }
                .numCount {
                    position: relative;
                    overflow: hidden;
                    display: grid;
                    justify-content: end;
                    align-items: center;

                    .num1Count {
                        transition: transform .2s;
                    }
                    .num2Count {
                        position: absolute;
                        transform: translateY(-50px);
                        transition: transform .2s;
                    }

                }
            }
            .comment-btn {
                /* background-image: url(img/comment.png); */
                background-repeat: no-repeat;
                background-position: 10px;
                border: 0;
                font-weight: bold;
                background-color: $actionBtnClr;
                transition: 0.3s;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                color: #787878;
                margin-right: 10px;
                #cspan {
                    display: inline-flex;
                    align-items: center;
                    &:before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 200;
                        margin-right: 5px;
                        content: "\f075";
                        font-size: 20px;
                    }
                }
            }
            .remove-btn {
                color: white;
                padding: 5px 10px;
                transition: 0.3s;
                border: 1px solid #6b6a6a;
                border-radius: 100%;
                font-size: 10px;
                position: absolute;
                top: -8px;
                right: -9px;
                background-color: #181c2f;
            }
        }
        .post-comments {
            display: block;
            max-height: 0px;
            transition: all .3s;
            overflow: hidden;
            overflow-y: auto;
            form {
                height: 40px;
                margin-top: 15px;
                display: flex;
                input {
                    width: 85%;
                    padding: 17px 20px;
                    background-color: transparent;
                    outline: none;
                    border: 2px solid $borderInput2;
                    color: white;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                button {
                    width: 15%;
                    border: 2px solid $borderInput2;
                    color: $fontClr1;
                    font-weight: bold;
                    background-color: transparent;
                    transition: 0.3s;
                    padding: 8px 0px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }
            .single-comment {
                border: 1px solid $borderInput2;
                padding: 10px;
                margin-top: 20px;
                border-radius: 10px;
                position: relative;
                word-break: break-all;
                #usernamecom {
                    background-color: $insertPostClr;
                    color:#bbbbbb !important;
                    position: absolute;
                    top: -13px;
                }
            }
        }
    }

    .loadMore{
        padding:10px;
        border: 2px solid $borderInput;
        color: white;
        background-color: $loadMoreClr;
        transition: 0.3s;
        padding: 4px 10px;
        border-radius: 10px;
        margin-inline:auto;
        margin-block: 15px;
        position: absolute;
        right: 38%;
    }
    .loadMore:hover{
        background-color: #424868;
    }

}

.custom-modal{
    display: none;
    background-color: #181c2f;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 1000px 1000px;
    max-width: 650px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 20px;
    z-index: 1000;
    color:$fontClr1;
    #tekstzasliku{
        margin-top: 10px;
        margin-bottom: -5px;
    }
    input {
        padding:5px;
        margin-block:10px;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        color: white;
        width: 90%;
        
    }
    --top:107px;
    .input1:focus ~ .label1, .input1:not(:placeholder-shown)  ~ .label1 {
        top:calc(112px - 17px);
    }
    .input2:focus ~ .label2, .input2:not(:placeholder-shown)  ~ .label2 {

        top:calc(170px - 17px);
    }
    .input3:focus ~ .label3, .input3:not(:placeholder-shown)  ~ .label3 {
        top:calc(228px - 17px);
    }    
    .form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
        font-size: 0.8rem;
        left:60px;       
        padding: 0 0.5rem;
        color: #fff;
        z-index: 100;
    } 
    .form__label {
        position: absolute;
        padding: 0;
        color: #ffffff93;
        cursor: text;
        transition: 250ms cubic-bezier(.79,0,.16,.99);
        background-color: #181c2f;
        z-index: 90;
    }    
    .label1{
        left:65px;
        top:112px;
    }
    .label2{
        left:65px;
        top:170px;
    }
    .label3{
        left:65px;
        top:228px;
    }
    #closeModal {
        color: white;
        background-color: transparent;
        border: 0;
        font-size: 18px;
        /* font-weight: bold; */
        position: absolute;
        right: 2px;
        top: 14px;
        transition: 0.4s;
        font-weight: bold;
        &:hover{
            color: gray;
        }
    }
    button {
        color: white;
        background-color: transparent;
        border: 2px solid white;
        padding: 5px 25px;
        border-radius: 7px;
        transition: 0.3s;
    }
    #deleteProfile {
        border: 2px solid red;
        color: red;
        padding: 5px 15px;
        border-radius: 7px;
        transition: 0.3s;
    }
}

.popup-prof{
    width: 300px;
    position: absolute;
    z-index: 99;
    background-color: $popupClr;
    right: 3.5%;
    top: 5.7%;
    border: 1px solid white;
    border-top: 1px solid $popupClr;
    padding: 10px;
    overflow-x: hidden;
    opacity: 1;
    transform: translateY(-450px);
    margin-bottom: 20px;
    border-radius: 1px !important;
    border-radius: 15px;
    transition: all .2s;
    opacity: 0;
    .profile {
        width: 70%;
        border-radius: 50%;
        display: block;
        margin: auto;
        border: 2px solid hsl(0, 0%, 18.82%);
        margin-bottom: 20px;
    }
    #username {
        font-size: 20px;
        color: white;
    }
    #email {
        color: #6b6a6a;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    button {
        color: white;
        padding: 5px 10px;
        background-color: transparent;
        border: 2px solid #424868;
        transition: 0.2s;
        border-radius: 5px;
        &:hover{
            background-color: #424868;
        }
    }
    #logout {
        padding-inline: 10px;
    }
}
.openConv{
    position: fixed;
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    right:20px;
    bottom: 20px;
    background-color: $actionBtnClr;
    color:$fontClr1;
    border:2px solid $logoP2;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 35px;
    }
}

footer{
    display: none;

    & ~ div{
        z-index: -100 !important;
    }
}